/*              Encabezado           */
header {
      display: flex;
      position: fixed;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 100px;
      box-shadow: #ccc 0px 4px 4px -4px;
      background-color: #fff;

    }

.header__nav-derecha{
    margin-left: 137px;
    display: flex;
    align-items: center;
    gap: 28px;
    height: 100%;
}

.header__logo{
    width: 49px;
    height: 49px;
}

nav{
    width: auto;
    height: 100%;
}

nav ul{
    width: auto;
    height: 97.5%;
    margin: 0;
    align-items: center;
    display: flex;
    list-style: none;
    gap: 20px;
}

nav li{
    height: 100%;
}




nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 11pt;
    display: flex;
    align-items: center;
    height: 98%;
    border-bottom:5px solid transparent;
}

nav a:hover{
    border-bottom:5px solid #00754a;
    color: #00754a;

    
}


.header__nav-izquierda{
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 152px;
}

.header__nav-izquierda a{
   display: flex;
   align-items: center;
   gap: 6px;
   text-decoration: none;
   color: black;
   font-weight: bold;
   font-size: 0.8rem;
}

.header__nav-izquierda img{
    width: 20px;
    height: 20px;
}


.header__btn, .main__izquierda--btn{
    padding: 8px 20px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    border: 2px solid black;

}

.btn--inicia{
   background: transparent;
   color: black;
}

.btn--unete{
    background: black;
    color: #fff;
}
